<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.yys.dao.Member">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="yys_name" jdbcType="VARCHAR" property="yysName" />
    <result column="yys_id" jdbcType="VARCHAR" property="yysId" />
    <result column="yys_house_id" jdbcType="INTEGER" property="yysHouseId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>